:root {
  --main-title-color: #212121;
  --link-color: #212121;
  --main-text-color: #757575;
  --main-contact-color: #757575;
  --navigation-second-color: #2196f3;
  --btn-second-color: #2196f3;
  --second-contact-color: rgba(255, 255, 255, 0.6);
}
body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ---------LOGO---------- */
.logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--navigation-second-color);
  }

  .logo{
      color: #000000;
  }
}
